.brochure {
  background-color: var(--typoColor);
  color: #ffffff;
  padding: 0px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.content p {
    font-size: 24px;
    font-weight: 600 !important;
    padding: 17px 0;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.content p a{
 text-decoration: none;
}
.content p a span{
    color: yellow;
}

.download a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background-color: #333;
  color: white;
  padding: 20px 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.download a:hover {
  background-color: #0056b3;
}

.icon {
  font-size: 18px;
}

.text {
  font-size: 16px;
  font-weight: 500;
}
