.dealsCard{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dealsCard ul{
    padding: 20px 0px;
    list-style: none;
    display: flex;
    gap: 20px;
}