:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --typoColor: #265b99;
  --backgroundColor: #222222;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* body{
  max-width: 1600px;
  background-color: green;
} */



@media screen and (min-width: 1024px) and (max-width: 1200px){
    




  
}


@media screen and (min-width: 769px) and (max-width: 1024px){

  




  
}



@media screen and (min-width: 480px) and (max-width: 769px){


 


  
}



@media screen and (min-width: 0px) and (max-width: 480px){


}

